# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
.venv/
env/

# Distribution / Build
dist/
build/dist/
build/output/
build/__pycache__/
*.spec
*.exe

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# PyInstaller
*.manifest
